.interfacevierge {
   background: url('../img/spritesheet.png') no-repeat -0px -993px;
   width: 451px;
   height: 51px;
}
.energy_00 {
   background: url('../img/spritesheet.png') no-repeat -580px -1090px;
   width: 144px;
   height: 27px;
}
.energy_01 {
   background: url('../img/spritesheet.png') no-repeat -290px -1090px;
   width: 144px;
   height: 27px;
}
.energy_02 {
   background: url('../img/spritesheet.png') no-repeat -725px -1090px;
   width: 144px;
   height: 27px;
}
.energy_03 {
   background: url('../img/spritesheet.png') no-repeat -810px -1045px;
   width: 144px;
   height: 27px;
}z
.energy_04 {
   background: url('../img/spritesheet.png') no-repeat -435px -1090px;
   width: 144px;
   height: 27px;
}
.energy_05 {
   background: url('../img/spritesheet.png') no-repeat -0px -1090px;
   width: 144px;
   height: 27px;
}
.energy_06 {
   background: url('../img/spritesheet.png') no-repeat -145px -1090px;
   width: 144px;
   height: 27px;
}
.start_end_halo_UP {
   background: url('../img/spritesheet.png') no-repeat -1001px -863px;
   width: 44px;
   height: 44px;
}
.start_end_LEFT {
   background: url('../img/spritesheet.png') no-repeat -1001px -908px;
   width: 44px;
   height: 44px;
}
.start_end_RIGHT {
   background: url('../img/spritesheet.png') no-repeat -0px -1045px;
   width: 44px;
   height: 44px;
}
.tir_DOWN {
   background: url('../img/spritesheet.png') no-repeat -315px -1045px;
   width: 44px;
   height: 44px;
}
.tir_LEFT {
   background: url('../img/spritesheet.png') no-repeat -270px -1045px;
   width: 44px;
   height: 44px;
}
.tir_RIGHT {
   background: url('../img/spritesheet.png') no-repeat -1001px -818px;
   width: 44px;
   height: 44px;
}
.tir_UP {
   background: url('../img/spritesheet.png') no-repeat -180px -1045px;
   width: 44px;
   height: 44px;
}
.warning {
   background: url('../img/spritesheet.png') no-repeat -135px -1045px;
   width: 44px;
   height: 44px;
}
.bordure_01 {
   background: url('../img/spritesheet.png') no-repeat -90px -1045px;
   width: 44px;
   height: 44px;
}
.bordure_start_end {
   background: url('../img/spritesheet.png') no-repeat -45px -1045px;
   width: 44px;
   height: 44px;
}
.eureka_DOWN {
   background: url('../img/spritesheet.png') no-repeat -939px -1090px;
   width: 22px;
   height: 22px;
}
.eureka_LEFT {
   background: url('../img/spritesheet.png') no-repeat -916px -1090px;
   width: 22px;
   height: 22px;
}
.eureka_RIGHT {
   background: url('../img/spritesheet.png') no-repeat -893px -1090px;
   width: 22px;
   height: 22px;
}
.eureka_UP {
   background: url('../img/spritesheet.png') no-repeat -870px -1090px;
   width: 22px;
   height: 22px;
}
.halo {
   background: url('../img/spritesheet.png') no-repeat -0px -0px;
   width: 1000px;
   height: 992px;
}
.kikette {
   background: url('../img/spritesheet.png') no-repeat -1001px -567px;
   width: 50px;
   height: 50px;
}
.lumiere {
   background: url('../img/spritesheet.png') no-repeat -585px -1045px;
   width: 44px;
   height: 44px;
}
.mur_01 {
   background: url('../img/spritesheet.png') no-repeat -360px -1045px;
   width: 44px;
   height: 44px;
}
.paille {
   background: url('../img/spritesheet.png') no-repeat -225px -1045px;
   width: 44px;
   height: 44px;
}
.piege_01 {
   background: url('../img/spritesheet.png') no-repeat -450px -1045px;
   width: 44px;
   height: 44px;
}
.piege_02 {
   background: url('../img/spritesheet.png') no-repeat -495px -1045px;
   width: 44px;
   height: 44px;
}
.sol_01 {
   background: url('../img/spritesheet.png') no-repeat -540px -1045px;
   width: 44px;
   height: 44px;
}
.sol_02 {
   background: url('../img/spritesheet.png') no-repeat -405px -1045px;
   width: 44px;
   height: 44px;
}
.start_end_halo_DOWN {
   background: url('../img/spritesheet.png') no-repeat -630px -1045px;
   width: 44px;
   height: 44px;
}
.eureka_DOWN_3 {
   background: url('../img/spritesheet.png') no-repeat -921px -993px;
   width: 38px;
   height: 50px;
}
.eureka_DOWN_4 {
   background: url('../img/spritesheet.png') no-repeat -1005px -993px;
   width: 38px;
   height: 50px;
}
.eureka_LEFT_1 {
   background: url('../img/spritesheet.png') no-repeat -831px -993px;
   width: 44px;
   height: 50px;
}
.eureka_LEFT_2 {
   background: url('../img/spritesheet.png') no-repeat -542px -993px;
   width: 44px;
   height: 50px;
}
.eureka_LEFT_3 {
   background: url('../img/spritesheet.png') no-repeat -960px -993px;
   width: 44px;
   height: 50px;
}
.eureka_LEFT_4 {
   background: url('../img/spritesheet.png') no-repeat -876px -993px;
   width: 44px;
   height: 50px;
}
.eureka_RIGHT_1 {
   background: url('../img/spritesheet.png') no-repeat -452px -993px;
   width: 44px;
   height: 50px;
}
.eureka_RIGHT_2 {
   background: url('../img/spritesheet.png') no-repeat -1001px -516px;
   width: 44px;
   height: 50px;
}
.eureka_RIGHT_3 {
   background: url('../img/spritesheet.png') no-repeat -1001px -618px;
   width: 44px;
   height: 50px;
}
.eureka_RIGHT_4 {
   background: url('../img/spritesheet.png') no-repeat -497px -993px;
   width: 44px;
   height: 50px;
}
.eureka_UP_1 {
   background: url('../img/spritesheet.png') no-repeat -1001px -410px;
   width: 30px;
   height: 52px;
}
.eureka_UP_2 {
   background: url('../img/spritesheet.png') no-repeat -1001px -463px;
   width: 30px;
   height: 52px;
}
.eureka_UP_3 {
   background: url('../img/spritesheet.png') no-repeat -1001px -304px;
   width: 30px;
   height: 52px;
}
.eureka_UP_4 {
   background: url('../img/spritesheet.png') no-repeat -1001px -357px;
   width: 30px;
   height: 52px;
}
.eureka_DOWN_1 {
   background: url('../img/spritesheet.png') no-repeat -1001px -669px;
   width: 38px;
   height: 50px;
}
.eureka_DOWN_2 {
   background: url('../img/spritesheet.png') no-repeat -1001px -720px;
   width: 38px;
   height: 50px;
}
.CHAT_UP_2 {
   background: url('../img/spritesheet.png') no-repeat -1001px -81px;
   width: 60px;
   height: 80px;
}
.CHAT_DOWN_1 {
   background: url('../img/spritesheet.png') no-repeat -1001px -233px;
   width: 26px;
   height: 70px;
}
.CHAT_DOWN_2 {
   background: url('../img/spritesheet.png') no-repeat -1001px -162px;
   width: 26px;
   height: 70px;
}
.CHAT_LEFT_1 {
   background: url('../img/spritesheet.png') no-repeat -770px -993px;
   width: 60px;
   height: 50px;
}
.CHAT_LEFT_2 {
   background: url('../img/spritesheet.png') no-repeat -648px -993px;
   width: 60px;
   height: 50px;
}
.CHAT_RIGHT_1 {
   background: url('../img/spritesheet.png') no-repeat -587px -993px;
   width: 60px;
   height: 50px;
}
.CHAT_RIGHT_2 {
   background: url('../img/spritesheet.png') no-repeat -709px -993px;
   width: 60px;
   height: 50px;
}
.CHAT_UP_1 {
   background: url('../img/spritesheet.png') no-repeat -1001px -0px;
   width: 60px;
   height: 80px;
}
.mur_prehi_01 {
   background: url('../img/spritesheet.png') no-repeat -765px -1045px;
   width: 44px;
   height: 44px;
}
.sol_prehi_01 {
   background: url('../img/spritesheet.png') no-repeat -720px -1045px;
   width: 44px;
   height: 44px;
}
.bordure_prehi {
   background: url('../img/spritesheet.png') no-repeat -675px -1045px;
   width: 44px;
   height: 44px;
}
.kikette_prehi {
   background: url('../img/spritesheet.png') no-repeat -1001px -771px;
   width: 44px;
   height: 46px;
}